PyPDF2>=3.0.0
pyttsx3==2.90
SpeechRecognition==3.10.0
PyAudio==0.2.11
vosk==0.3.45
spacy==3.7.2
# https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
python-dateutil==2.8.2
dateparser==1.1.8
webbrowser==1.0
pywin32==306
psutil==5.9.6
numpy==1.24.3
tensorflow==2.13.0
torch
PyQt5==5.15.9
# silero-vad==1.0.0